<div class="fmbox">
  <ul class="fmrow fmheader">
      <li><img src="../assets/Roche_Logo.svg" width="50"></li>
      <li><a routerLink="/">Home</a></li>
      <li *ngFor="let mfe of microfrontends"><a [routerLink]="mfe.routeLink ? mfe.routeLink : mfe.routePath">{{mfe.displayName}}</a></li>
      <li><a routerLink="/config">Config</a></li>
  </ul>

  <div class="layout-main fmrow fmcontent">
    <router-outlet></router-outlet>
  </div>
</div>

